<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Πελοποννησιακό Πρωτάθλημα Σκάκι 2020</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Αρχική</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info">Πληροφορίες</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sponsors">Χορηγοί</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Επικοινωνία</a>
                </li>
                {{#unless loggedIn}}
                <li class="nav-item text-nowrap">
                    <a class="nav-link text-danger" href="/register">Δήλωση συμμετοχής</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Σύνδεση</a>
                </li>
                {{/unless}}
                {{#if loggedIn}}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/my-profile">Το προφίλ μου</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Αποσύνδεση</a>
                </li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Αναζήτηση" aria-label="Search">
                <button class="btn btn-light my-2 my-sm-0" type="submit">
                    <img src="/ico/search.svg">
                </button>
            </form>
        </div>
    </nav>
    <div id="title">
        <p>ΠΕΛΟΠΟΝΝΗΣΙΑΚΟ ΠΡΩΤΑΘΛΗΜΑ ΣΚΑΚΙ 2020</p>
    </div>
    {{{body}}}
    <br>
</body>

</html>