<link rel="stylesheet" href="/css/contact.css">
<main class="containter-fluid">
    <p class="subtitle">Επικοινωνία</p>
    <p>Για οποιαδήποτε απορία ως προς τη διοργάνωση, τον διαγωνισμό ή άλλες πληροφορίες. Μπορείτε να καλέστε στα:
        <br>2310-123123 <br>2310-123124 <br><br>Εναλλακτικά, στείλτε μας e-mail μέσω της παρακάτω φόρμας:
    </p>
    <form method="POST" action="/contact">
        <input type="email" name="email" id="email" placeholder="Διεύθυνση e-mail" required>
        <br><br>
        <textarea name="message" id="message" cols="50" rows="10" placeholder="Μήνυμα"></textarea>
        <br><br>
        <button type="submit">Αποστολή</button>
    </form>
</main>