<main class="containter-fluid">
    <p class="subtitle">Πρόβλημα με τη βάση δεδομένων</p>
    <br>
    <p>
        Υπήρξε πρόβλημα επικοινωνίας με τη βάση δεδομένων, προσπαθήστε ξανά.  
    </p>
</main>