<link rel="stylesheet" href="/css/home.css">
<main class="containter-fluid">
    <p class="subtitle">Καλώς ήρθατε</p>
    <table>
        <tr>
            <th>Έναρξη Πρωταθλήματος</th>
            <td><span id="tournament-start-date">10/09/2020</span></td>
        </tr>
        <tr>
            <th>Λήξη Εγγραφών</th>
            <td><span id="register-deadline-date">07/08/2020</span></td>
        </tr>
    </table>
    <br>
    <p>Καλώς ήρθατε στο πρωτάθημα Πελοποννήσου 2020. Ο διαγωνισμός μας διεξάγεται κάθε χρόνο και έχει σκοπό
        την ανάδειξη των μεγάλων νικητών των 8 κατηγοριών μας. Μη διστάσετε να δηλώσετε συμμετοχή και να
        κερδίσετε
        τίτλους και βραβεία.
    </p>
</main>