<link rel="stylesheet" href="/css/login.css">
<main class="containter-fluid">
    <p class="subtitle">Log In</p>
    <form action="/login" id="login-form" method="POST">
        <div class="login-data">
            <label for="email">Διεύθυνση email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="login-data">
            <label for="tel">Password</label>
            <input type="password" name="pass" id="pass" required>
        </div>
    </form>
    <button type="submit" form="login-form">Είσοδος</button>
</main>