<main class="containter-fluid">
    <p class="subtitle">Επιτυχής αποστολή μηνύματος</p>
    <br>
    <p>
        Το μήνυμά σας στάλθηκε επιτυχώς. Θα λάβετε απάντηση εντός λίγων ημερών.
    </p>
</main>