<link rel="stylesheet" href="/css/sponsors.css">
<main class="containter-fluid">
    <p class="subtitle">Χορηγοί</p>
    <div id="sponsors">
        <img src="./img/sponsors/auto-speed.svg" alt="auto-speed">
        <img src="./img/sponsors/cheshire-county-hygiene-services.svg" alt="cheshire-county-hygiene-services">
        <img src="./img/sponsors/crofts-accountants.svg" alt="crofts-accountants">
        <img src="./img/sponsors/fast-banana.svg" alt="fast-banana">
        <img src="./img/sponsors/petes-blinds.svg" alt="petes-blinds">
        <img src="./img/sponsors/the-dance-studio.svg" alt="the-dance-studio">
        <img src="./img/sponsors/the-web-works.svg" alt="the-web-works">
        <!-- logos designed by pigment: https://github.com/pigment -->
    </div>
    <p>
        Ευχαριστούμε ιδιαίτερα τους χορηγούς μας, οι οποίοι καθιστούν δυνατή τη διεξαγωγή του πρωταθλήματος.
    </p>
</main>